{% load static %}
{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<head>
  <title>Course List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <script src="{% static 'scheduling_app/JS/jquery-3.6.3.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'scheduling_app/CSS/website-base.css' %}">
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
</head>

<body>
  {% include 'scheduling_app/common/navbar.html' %}
  {% include 'scheduling_app/common/schedules/create-schedule-modal.html' %}
  {% include 'scheduling_app/common/message.html' %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-1 sidenav"></div>

      <div class="col-10 text-start">
        <div class="container-fluid my-3">
{#          https://getbootstrap.com/docs/5.0/components/collapse/#}
          <button class="btn btn-primary container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
            Toggle Search Filters
          </button>
          <div class="container-fluid collapse card mt-5" id="filters">
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <div class="d-grid gap-2">
                  <div class="input-group">
                    <label for="subject" class="input-group-text">Subject:</label>
                    <input type="text" name="subject" id="subject" class="form-control" placeholder="CS" maxlength="16">
                    <label for="catalog_number" class="input-group-text">Catalog Number:</label>
                    <input type="number" name="catalog_number" id="catalog_number" class="form-control" placeholder="3140" min="0" max="9999">
                  </div>
                  <div class="input-group">
                    <label  for="class_number" class="input-group-text">Course ID:</label>
                    <input type="number" name="class_number" id="class_number" class="form-control text-muted" placeholder="123456" min="0" max="99999">
                    <label  for="keyword" class="input-group-text">Keyword:</label>
                    <input type="text" name="keyword" id="class_number" class="form-control text-muted" placeholder="Calculus" min="1" max="128">
                  </div>
                  <div class="input-group">
                    <label for="professor" class="input-group-text">Professor:</label>
                    <input type="text" name="professor" id="professor" class="form-control" placeholder="John Doe" maxlength="64">
                  </div>
                  <input type="hidden" name="filter_form" value="filter_form">
                  <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i> Search
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

      <div class="collapse show" id="filters">
        {% include 'scheduling_app/course-tables/course-table.html' %}
      </div>
    </div>

      <div class="col-1 sidenav"></div>
    </div>
  </div>

  {% include 'scheduling_app/common/footer.html' %}
  {% include 'scheduling_app/common/message.html' %}
</body>

{#https://datatables.net/reference/option/dom#}
{#https://datatables.net/examples/basic_init/state_save.html#}
<script type="text/javascript">
    $(document).ready(function() {
        $('.table').DataTable({
            scrollY: "420px",
            searching: false,
            "scrollCollapse": false,
            stateSave: true,
        });
    });
</script>
