
{#  https://datatables.net/reference/option/dom#}
  <table {% block attributes %}{% endblock %}>
    <thead>
      <tr>
        <th>Course Identifier</th>
        <th>Class Number</th>
        <th>Course Name</th>
        <th>Instructor</th>
        <th>Days</th>
        <th>Times</th>
        {% block headers %} {% endblock %}
      </tr>
    </thead>
    <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.course_identifier.subject }} {{ course.course_identifier.catalog_number }}</td>
            <td>
              <a href="{% url 'scheduling_app:courseDetail' course.pk %}">{{ course.registration_information.class_number }}</a>
            </td>
            <td>{{ course.course_identifier.course_description }}</td>
              <td>
                {% for instructor in course.instructors.all %}
                  {% if forloop.last %}
                    {% if instructor.name == '-' %}
                      (TBA)
                    {% else %}
                      {{ instructor.name }}
                    {% endif %}
                  {% else %}
                    {% if instructor.name == '-' %}
                      (TBA), <br>
                    {% else %}
                      {{ instructor.name }}, <br>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </td>
            {% if course.meeting.all %}
              {% with meetings=course.meeting.all %}
                <td>
                  {% for meeting in meetings %}
                    {% if meeting.days == '-' %}
                      Online/TBA <br>
                    {% else %}
                      {{ meeting.days }} <br>
                    {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for meeting in meetings %}
                    {% if meeting.days == '-' %}
                      Online/TBA <br>
                    {% else %}
                      {{ meeting.start_time }} to {{ meeting.end_time }} <br>
                    {% endif %}
                  {% endfor %}
                </td>
              {% endwith %}
            {% elif not course.meeting.all %}
              <td>-</td>
              <td>-</td>
            {% endif %}
            {% block data_columns %}{% endblock %}
          </tr>
        {% endfor %}
    </tbody>
  </table>