{#  https://getbootstrap.com/docs/5.0/components/modal/#}
  {% if message %}
    <div class="modal fade in" id="message" aria-labelledby="messageLabel" tabindex="-1" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header {{ message.type }}">
            <h5 class="modal-title" id="messageLabel">{{ message.title }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{ message.body }}
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        $(window).on('load', function() {
            $('#message').modal('show');
        });
    </script>
  {% endif %}